header{
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
}

.first_section{
    width: 50%;
    display: flex;
    gap: 20px;
}

.second_section{
    width: 50%;
    display: flex;
    gap: 20px;
}

.card{
    border: #f5f5f5 1px solid;
    border-radius: 10px;
    padding: 10%;
}
