header{
    display: flex;
}

.container{
    display: flex;
}

.left{
    width: 50%;
    display: flex;
}

.right{
    width: 50%;
    display: flex;
}

.card{
    border: #f5f5f5 1px solid;
    border-radius: 10px;
    padding: 10%;
}
