body{
    width:650px;
    margin-left: auto;
    margin-right:auto;
}

ul{
    width:100%;
    padding:0 0 0 0;
}
h1{
    font-size:larger
}

h2{
    font-size:large;
    text-decoration-line:underline;
    text-decoration-color:green;
}

li{
    list-style-type:none;
    border: 1px solid #ebebeb;
    margin:10px 0px;
    padding:13px;
    font-weight:600;
}

li#correct_sentakushi:active{
    background-color:#287dff;
    color :white;
}

div#kaisetsu{
    padding: 17px;
}
p#answer1{
    text-decoration-line:underline;
    text-decoration-color: #287dff;
    margin:0px;
    padding:4px;
    font-weight:600;
}
p#answer2{
    margin:0px;
    padding:8px;
}
p#answer3{
    text-decoration-line:underline;
    text-decoration-color:#ff5128;
    margin:0px;
    padding:4px;
    font-weight:600;
}
p#answer4{
    margin:0px;
    padding:8px;
}


