body {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    width: 100%;
    padding: 0 0 0 0;
}

h1 {
    font-size: large;
}

h2 {
    font-size: 17px;
    position: relative;
    /*after*/
    /*text-decoration-line:underline;*/
    /*text-decoration-color:green;*/
    /*display: inline-block;*/
}

h2::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
    position: relative
}

.before_click {
    display: block;
    list-style-type: none;
    border: 1px solid #ebebeb;
    margin: 10px 0px;
    padding: 13px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 2px -2px rgb(0 0 0/13%);
}

.correct_after_clicked{
    display: block;
    list-style-type: none;
    border: 1px solid #ebebeb;
    margin: 10px 0px;
    padding: 13px;
    font-weight: 600;
    box-shadow: 0 3px 2px -2px rgb(0 0 0/13%);
    background-color: #287dff;
    color: white;
    cursor: default;
    pointer-events: none;
}
.wrong_after_clicked{
    display: block;
    list-style-type: none;
    border: 1px solid #ebebeb;
    margin: 10px 0px;
    padding: 13px;
    font-weight: 600;
    box-shadow: 0 3px 2px -2px rgb(0 0 0/13%);
    background-color: #ff5128;
    color: white;
    cursor: default;
    pointer-events: none;
}

.after_click_other {
    display: block;
    list-style-type: none;
    border: 1px solid #ebebeb;
    margin: 10px 0px;
    padding: 13px;
    font-weight: 600;
    cursor: default;
    box-shadow: 0 3px 2px -2px rgb(0 0 0/13%);
    pointer-events: none;
}

.invisible{
    display: none;
}

div.result {
    padding: 17px;
    border-radius: 3px;
    /*border-radius?*/
    background-color: #f5f5f5;
}

.description1_visible {
    text-decoration-line: underline;
    text-decoration-color: #287dff;
    background-color: #f5f5f5;
    line-height: 20px;
    font-weight: 600;
    padding: 3px;
    margin: 0 0 10px 0;
    font-size: 100%;
    display: block;
}

.description2_visible {
    text-decoration-line: underline;
    text-decoration-color: #ff5128;
    background-color: #f5f5f5;
    line-height: 20px;
    font-weight: 600;
    padding: 3px;
    margin: 0 0 10px 0;
    font-size: 100%;
    display: block;
}

.description3_visible {
    margin: 0;
    font-size: 100%;
    padding: 0;
    display: block;
    /*vertical-align: baseline;*/
    background-color: #f5f5f5;
}